<mat-card>


  <button mat-raised-button color="primary" id="facebookLogin" (click)="facebookLogin()">
    <object data="assets/facebook.svg" type="" width="25px" height="25px">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzdrpnXZKOj8dRkYimj2XDp33cUk3aM7zGsvhXzvE2-LauoImS" alt="fb" width="25px" height="25px">
    </object>
    Facebook Login
  </button>

  <button mat-raised-button color="primary" id="googleLogin" (click)="googleLogin()">
    <object data="assets/google.svg" type="" width="25px" height="25px">
      <img src="https://lh3.googleusercontent.com/twEQbhqcvE_WhW3punY7jGS4JxP0d71BpOVulQWA-Fp27vo8h9JoEMqAx90y0CW9aJRs=s85" alt="fb" width="25px" height="25px">
    </object>
    Google Login
  </button>





</mat-card>
